DATABASE_URL="file:dev.sqlite"
NODE_ENV="development"
PORT=3000
REDIS_URL="redis://localhost:6379"
FTP_HOST="ftp.example.com"
FTP_USER="user"
FTP_PASS="pass"
JWT_SECRET="s3cr3t!"
BULL_BOARD_USER="user"
BULL_BOARD_PASS="pass"